body {
    font-family: 'Mynerve', cursive;
    background: bottom/cover url(bg.jpeg) no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    backdrop-filter: blur(10px);
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: -1px;
    padding: 10px;
}

.logo:link,
.logo:visited,
.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    outline: none;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    background: rgba(3, 3, 3, 0.39);
    border-radius: 8px;
}

.logo img {
    margin: 0 15px;
    height: 50px;
    border-radius: 50%;
}

.logo h2 {
    margin-right: 15px
}

nav a {
    font-weight: 600px;
    margin: 2px 2px;
    padding: 2px 3px;
    background: rgba(3, 3, 3, 0.39);
    border-radius: 8px;
}

/* Start Form*/

.form-container {
    border: 1.5px solid black;
    border-radius: 10px;
    width: 290px;
    height: 380px;
    top: 37%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -10%);
    box-sizing: border-box;
    padding: 30px 30px;
    backdrop-filter: blur(10px);
}

.form-container h1 {
    color: #fff;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.form-container label {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.form-container input {
    width: 100%;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.form-container input::placeholder{
    color: #fff;
}

.form-container input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgba(3, 3, 3, 0.39);
    border-radius: 10px;
    color: #fff;
}

.form-container a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    justify-content: space-between;
    cursor: pointer;
    color: #fff;
}

@media (min-width: 430px) {
    header {
        flex-direction: row;
    }
}